/* ----- NAVBAR --------- */

.navbar {
    font-family: 'Girassol', cursive;
    /* background-color: #046582; */
    background-color: #180A0A;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 4rem;
    position: sticky;
    top: 0px;
    /* letter-spacing: 0.1rem; */
}

.navbarButton {
    color: whitesmoke;
}

.navbar h1 {
    font-variant: small-caps;
}

.navbar h1 span {
    color: #F5DEB3;
}

.navbar img {
    height: 1.5rem;
    background-color: white;
    padding: 2px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.9;
}

.navbar img:hover {
    opacity: 1;
}

.navbar h3 {
    color: white;
    margin-right: 1rem;
}

.link {
    color: black;
    text-decoration: none;
}

/*----- BLOG CARDS --------- */

.blogCardForm .cardContainer{
    background-color: #f4fdfc;
    box-shadow: 5px 10px 8px #888888;
    margin-bottom: 2rem;
}

.cardContainer .cardImage {
    object-fit: fill;
    object-position: center;
}

.cardContainer .favBtn{
    color: black;
    transition: 1s;
    border-radius: 50%;
}

.cardContainer .active{
    color: red;
}

.blogCardForm{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* align-items: center; */
}

